PORT=8080
NODE_ENV=development
APP_BASE_URL=localhost:8080
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
CALLBACK_URL=https://your-render-url.onrender.com/auth/github/callback
MONGODB_URI=mongodb+srv://username:password@cluster-name.mongodb.net/database-name?appName=app-name
